<!-- Tabla de roles -->
<section class="overflow-x-hidden hover:overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
        <div class="overflow-hidden">

            <!-- Table content -->
            <table class="min-w-full">
                <thead>
                    <tr class="bg-gray-100 text-sm">
                        <th scope="col" class="px-6 py-3 text-nowrap text-xs uppercase font-semibold text-start">Rol
                        </th>
                        <th scope="col" class="px-6 py-3 text-nowrap text-xs uppercase font-semibold text-start">
                            Usuarios
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    @for (role of roles(); track role.id) {
                    <tr [routerLink]="role.id" class="group hover:bg-gray-50 hover:cursor-pointer max-xl:w-full">
                        <td class="px-6 py-3 whitespace-nowrap">
                            <div class="grid grid-cols-[auto_1fr] gap-x-3 items-center">

                                <div
                                    class="min-w-10 max-w-10 h-10 bg-gray-100 text-gray-700 rounded-full object-cover flex items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                                            <circle cx="12" cy="6" r="4" />
                                            <path
                                                d="M20 17.5c0 2.485 0 4.5-8 4.5s-8-2.015-8-4.5S7.582 13 12 13s8 2.015 8 4.5Z" />
                                        </g>
                                    </svg>

                                </div>

                                <div class="flex flex-col">
                                    <div class="flex items-center gap-x-2">
                                        <p
                                            class="text-sm capitalize font-medium group-hover:text-primary group-hover:underline">
                                            {{ role.name }}</p>

                                        @if(role.deleted) {
                                        <svg lucideBadgeX class="size-4 text-red-500" />

                                        } @else {
                                        @if (role.enabled) {
                                        <svg lucideBadgeCheck class="size-4 text-green-600" />
                                        } @else {
                                        <svg lucideBadgeMinus class="size-4 text-gray-500" />
                                        }
                                        }
                                    </div>
                                    <p class="text-gray-700 text-xs max-w-xs truncate">{{ role.description || 'Sin
                                        descripción' }}</p>
                                </div>
                            </div>
                        </td>

                        <td class="px-6 py-3 whitespace-nowrap text-start">
                            <div
                                class="px-2.5 py-2 rounded-md bg-gray-100 flex items-center justify-center gap-x-1 w-fit">
                                <svg lucideUsers class="size-4 text-gray-700" />
                                <p class="text-[13px]">{{ role.usersCount }} usuarios</p>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>
<!-- FIN: Tabla de usuarios -->