@if (state === "Pendiente") {
<section
    class="w-fit border border-yellow-600 bg-white rounded-full text-yellow-600 text-[13px] font-medium py-1 px-2.5">
    Pendiente
</section>
}

@if (state === "En Proceso") {
<section class="w-fit border border-blue-600 bg-white rounded-full text-blue-600 text-[13px] font-medium py-1 px-2.5">
    En Proceso
</section>
}

@if (state === "Entregado") {
<section class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-[13px] font-medium py-1 px-2.5">
    Entregado
</section>
}

@if (state === "Cancelado") {
<section class="w-fit border border-red-600 bg-white rounded-full text-red-600 text-[13px] font-medium py-1 px-2.5">
    Cancelado
</section>
}

@if (state === "Rechazado") {
<section class="w-fit border border-red-600 bg-white rounded-full text-red-600 text-[13px] font-medium py-1 px-2.5">
    Rechazado
</section>
}

@if (state === "Emitido") {
<section class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-[13px] font-medium py-1 px-2.5">
    Emitido
</section>
}

@if (state === "Resuelto") {
<section class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-[13px] font-medium py-1 px-2.5">
    Resuelto
</section>
}

@if (state === "Próximo") {
<section class="w-fit border border-blue-600 bg-white rounded-full text-blue-600 text-[13px] font-medium py-1 px-2.5">
    Próximo
</section>
}

@if (state === "Activo") {
<section class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-[13px] font-medium py-1 px-2.5">
    Activo
</section>
}

@if (state === "Oculto") {
<section class="w-fit border border-gray-400 bg-white rounded-full text-black text-[13px] font-medium py-1 px-2.5">
    Oculto
</section>
}

@if (state === "Finalizado") {
<section
    class="w-fit border border-yellow-600 bg-white rounded-full text-yellow-600 text-[13px] font-medium py-1 px-2.5">
    Finalizado
</section>
}

@if (state === "Listo") {
<section
    class="w-fit border border-green-600 bg-white rounded-full text-green-600 text-[13px] font-medium py-1 px-2.5">
    Listo
</section>
}

<!-- Para productos -->

@if (state === "En Promocion") {
<section
    class="w-fit border border-yellow-600 bg-white rounded-full text-yellow-600 text-[13px] font-medium py-1 px-2.5">
    Promoción
</section>
}

@if (state === "En Oferta") {
<section class="w-fit border border-blue-600 bg-white rounded-full text-blue-600 text-[13px] font-medium py-1 px-2.5">
    Oferta
</section>
}

@if (state === "Eliminado") {
<section class="w-fit border border-red-600 bg-white rounded-full text-red-600 text-[13px] font-medium py-1 px-2.5">
    Eliminado
</section>
}