<section class="lg:border border-gray-300 lg:rounded-xl lg:p-5 flex flex-col gap-7">

    <div class="flex items-center justify-between gap-2">

        <component-shared-search-box class="w-full md:max-w-sm" placeholder="Buscar por código de descuento"
            (searchQueryChange)="onSearchQueryChange($event)" />

        <div class="flex items-center gap-x-1">
            <component-shared-filters />
        </div>

    </div>

    @if (discounts.length > 0) {
    <component-discounts-table [discounts]="discounts" (statusChange)="onStatusChange($event)" (editClick)="editClick.emit($event)" />
    } @else {
    <component-shared-empty title="No se encontraron descuentos"
        message="No hay descuentos registrados en el sistema que coincidan con la búsqueda." />
    }

    <component-shared-paginator [page]="page + 1" [totalPages]="totalPages" [totalElements]="totalElements"
        (pageChange)="onPageChange($event - 1)" />

</section>